body{
    background: #fb6b6b;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    width: 55px;
    height: 65px;
    margin-top: 90px;
}

header h1{
    width: 152px;
    height: 35px;
    font-family: 'Righteous';
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

header button{
    width: 141px;
    height: 31px;
    border-radius: 5px;
    background: #ffffff;
    color: #d70900;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-top: 87px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}