body{
    background: #fb6b6b;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    width: 55px;
    height: 65px;
    margin-top: 90px;
}

header h1{
    width: 152px;
    height: 35px;
    font-family: 'Righteous';
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

header button{
    width: 141px;
    height: 31px;
    border-radius: 5px;
    background: #ffffff;
    color: #d70900;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-top: 87px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo-pequeno{
    width: 255px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-pequeno img{
    width: 52px;
    height: 60px;
    margin-right: 10px;
}

.logo-pequeno h1{
    width: 203.17px;
    height: 44px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
}

.front{
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.front h1{
    width: 87px;
    height: 19px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
}

.front button{
    width: 20px;
    height: 23px;
    background: #ffffff;
    border: 0px;
    margin-right: 13px;
}

.front button ion-icon{
    font-size: 20px;
}

.open{
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.open h1{
    width: 247px;
    height: 22px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    position: absolute;
    top: 18px;
    left: 15px;
    padding-right: 15px;
}

.open button{
    border: 0px;
    width: 30px;
    height: 20px;
    background: #FFFFD5;
    position: absolute;
    bottom: 6px;
    right: 15px;
}

.back{
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.back h1{
    position: absolute;
    width: 247px;
    height: 44px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    top: 18px;
    left: 15px;
}

.amnesia{
    width: 85.17px;
    height: 37.17px;
    border: 0px;
    background: #FF3030;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
}


.almost{
    width: 85.17px;
    height: 37.17px;
    border: 0px;
    background: #FF922E;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
}

.zap{
    width: 85.17px;
    height: 37.17px;
    border: 0px;
    background: #2FBE34;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
}

.buttons{
    width: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.recall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h1{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    line-height: 38px;
    color: #333333;

}

.big-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-footer h1{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    line-height: 38px;
    color: #333333;

}

.incorrect{
    pointer-events: none;
    text-decoration-line: line-through;
    color: #FF3030;
}

.incorrect ion-icon{
    color: #FF3030;
}

.almost-correct{
    pointer-events: none;
    text-decoration-line: line-through;
    color: #FF922E;
}

.almost-correct ion-icon{
    color: #FF922E;
}

.correct{
    pointer-events: none;
    text-decoration-line: line-through;
    color: #2FBE34;
}

.correct ion-icon{
    color: #2fbe34;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons ion-icon{
    font-size: 20px;
}

.close-circle{
    color: #FF3030;
}

.help-circle{
    color: #FF922E;
}

.checkmark-circle{
    color: #2FBE34;
}

.hidden{
    display: none;
}